#run-button {
    position: fixed;
    left: 50%;
    bottom: 50px;
    height: 100px;
    width: 100px;
    font-size: 40px;
    color: white;
    background-color: red;
    border-radius: 50%;
    margin-left: -50px;
}

#run-button,
.pressBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    overflow: visible;
    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;
    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

button {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    touch-action: manipulation;
}

/* .run-button:hover {
    background-color: darkred;
} */

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300);

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'outfit', sans-serif !important;
    overflow: hidden;
}

body {
    background-color: #fffbf2;
}

body h1 {
    font-size: 72px;
    color: #9b9b9b;
    text-align: center;
}

.msgLoose, .msgWin {
    position: fixed;
    top: 10%;
    left: 0;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 35px;
}

.start_screen {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;

    h1 {
        color: white;
        font-size: 40px;
        margin-top: 20px;
    }

}



.pressBtn {
    background: #ff6363;
    border: none;
    width: 180px;
    height: 140px;
    border-radius: 50%;
    border-bottom: 5px solid #fe8080;
    font-size: 50px;
    color: #fff;
    outline: 0 !important;
    cursor: pointer;
    margin: 10px;
    -webkit-box-shadow: 0px 10px 0px #c96464, 5px 0px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 10px 0px #c96464, 5px 0px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 0px #c96464, 5px 0px 10px rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
    user-select: none;
}

.pressBtn:hover {
    background: #fe8080;
}

.pressBtn:active {
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.spike {
    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin: bottom;
    width: 0;
    height: 0;
    background: white;
    border-radius: 0.3mm;
    transform: rotate(var(--angle)) translateY(var(--distance));
}

.effect .spike {
    animation: animate 0.75s;
}

@keyframes animate {
    0% {
        width: 3px;
        height: 12px;
        opacity: 0;
        transform: rotate(var(--angle)) translateY(0);
    }

    2% {
        width: 4px;
        height: 16px;
        opacity: 1;
        transform: rotate(var(--angle)) translateY(0);
    }

    100% {
        width: 0px;
        height: 0px;
        opacity: 1;
        transform: rotate(var(--angle)) translateY(var(--distance));
    }
}

.click-effect {
    position: fixed;
    top: 50%;
    left: 50%;
    pointer-events: none;
}

/* Smartphone styles */
@media only screen and (max-width: 600px) {
    .popup {
        background-color: #fe7600;
        border-color: #570014;
        border-width: 15px;
        border-style: solid;
        border-radius: 40px;
        position: fixed;
    }

    .title-banner {
        top: calc(10vh - 40px);
        left: 50%;
        transform: translateX(-50%);
        width: calc(80vw - 40px);
        height: calc(150px - 40px);
    }

    .bonus-banner {
        top: calc(10vh - 40px);
        left: 50%;
        transform: translateX(-50%);
        width: calc(80vw - 40px);
        height: calc(150px - 40px);
    }

    .jackpot-banner {
        top: calc(10vh - 40px);
        left: 50%;
        transform: translateX(-50%);
        width: calc(90vw - 40px);
        height: calc(150px - 40px);
    }

    .img-title {
        width: auto;
        height: 80px;
        margin: 20px;
    }   
}

/* Computer styles */
@media only screen and (min-width: 601px) {
    .popup {
        background-color: #fe7600;
        border-color: #570014;
        border-width: 25px;
        border-style: solid;
        border-radius: 40px;
        position: fixed;
    }

    .title-banner {
        top: calc(10vh - 40px);
        left: 50%;
        transform: translateX(-50%);
        width: calc(470px - 40px);
        height: calc(200px - 40px);
    }

    .bonus-banner {
        top: calc(10vh - 40px);
        left: 50%;
        transform: translateX(-50%);
        width: calc(470px - 40px);
        height: calc(200px - 40px);
    }

    .jackpot-banner {
        top: calc(10vh - 40px);
        left: 50%;
        transform: translateX(-50%);
        width: calc(470px - 40px);
        height: calc(200px - 40px);
    }

    .img-title {
        width: auto;
        height: 120px;
        margin: 20px;
    }
}

.download-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
    font-size: large;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}